<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <% if(locals.defaultItems2) {%>
  <% defaultItems2.forEach(function(element){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox_custom" value="<%=element._id%>" class="checkbox">
      <p><%=  element.name  %></p>
    </div>
  </form>
  <% }) %>
  <%} else {
  if(locals.defaultItems) {
   locals.defaultItems.forEach(function(element){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox_today" value="<%=element._id%>" class="checkbox">
      <p><%=  element.name  %></p>
    </div>
  </form>
  <% }) 
}
  } %>


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<script>
  const checkboxes = document.querySelectorAll('.checkbox');
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function () {
      this.form.submit();
    });
  });
</script>

<%- include("footer") -%>